.filters {
    background-color: antiquewhite;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    position: relative;
    display: flex;
}

.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    border: none;
    border-radius: 4px;
    padding: 10px 50px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
}

.filters button:hover {
    opacity: 90%;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    cursor: pointer;
}

.locations {
    border-right: 1px solid #dddddd;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 40px;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 0;
}

.popover {
    background-color: #fafafa;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-top: -7px;
    padding: 0 0 30px 0;
    cursor: pointer;
}

.popover-locations {
    padding-top: 20px;
    display: none;
}

.popover-locations ul {
    padding: 0;
    margin-left: 20px;
    /* margin: 5px 0 0 20px; */
}

.popover-locations ul li:not(:first-child) {
    margin-left: 20px;
}

.popover-locations ul li:not(:last-child) {
    padding-bottom: 3px;
}

.popover-amenities {
    display: none;
    padding-top: 30px;
}

.popover-amenities li {
    margin-left: 40px;
}

.popover-amenities li:not(:last-child) {
    padding-bottom: 3px;
}

.popover h2 {
    font-size: 16px;
}

.popover li {
    list-style: none;
}

.amenities:hover .popover-amenities {
    display: block;
}

.locations:hover .popover-locations {
    display: block;
}

@media screen and (max-width: 768px) {
    .filters {
        width: 95%;
        margin: 0 auto;
    }

    .locations,
    .amenities {
        width: 35%;
    }

    .locations h3,
    .amenities h3 {
        margin-left: 10px;
        font-size: 14px;
    }

    .locations h4,
    .amenities h4 {
        margin-left: 10px;
        font-size: 12px;
    }

    .popover {
        margin-top: 19.5px;
    }

    .filters button {
        padding: 5px 25px;
        font-size: 14px;
        right: 15px;
    }
}

@media screen and (max-width: 400px) {
    .filters {
        margin: 0 auto;
    }

    .filters button {
        padding: 0px 10px;
        font-size: 12px;
        height: 38px;
        top: 15px;
        right: 5px;
    }

    .locations h3,
    .amenities h3 {
        margin-left: 5px;
        font-size: 15px;
        margin-bottom: 0;
    }

    .locations h4,
    .amenities h4 {
        margin-left: 5px;
        font-size: 12px;
    }

    .popover {
        margin-top: 22px;
    }

    .popover-locations ul {
        margin-left: 10px;
    }

    .popover-locations ul li:not(:first-child) {
        margin-left: 10px;
    }

    .popover-amenities li {
        margin-left: 20px;
    }

    .popover h2 {
        font-size: 15px;
    }

    .popover li {
        font-size: 12px;
    }
}

@media screen and (max-width: 340px) {
    .filters {
        width: 98%;
        margin: 0 auto;
        height: 60px;
    }

    .locations h4,
    .amenities h4 {
        font-size: 10px;
    }

    .popover h2 {
        font-size: 12px;
    }

    .popover li {
        font-size: 10px;
    }

    .popover {
        margin-top: 14.5px;
    }

    .filters button {
        top: 10px;
    }
}