.places h1 {
    font-size: 30px;
}

.articles {
    text-align: center;
}

.articles h2 {
    font-size: 30px;
}

article {
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}